#chef-info-section{

    background-image: url(image/shapes/bg.png);
    background-repeat:no-repeat;
    margin:0px;
}

#chef-info-section{
display: flex;

}
#chef-section-left-div{

    width:40%;
   
}
#chef-section-right-div{

    padding:50px 10px 20px 150px;
   
}
#chef-section-left-div img{

    width:600px;
    height:600px;
}
#chef-section-right-div h1{
    text-align: center;
    margin-bottom:80px;

    
}
#chef-section-right-div p{
    text-align:justify;
    margin:50px 10px 50px 0px;

    
}