.recipie-div-web-info{
    display: flex;
    margin: 80px 50px 100px 60px;
    padding-left:250px;
    border:2px solid #f1eded;
    box-shadow: 2px 2px 15px 2px #c2bfbf;
    border-radius:20px;
    

}

.web-info-all h2{
padding:50px 50px 0px 50px;
text-align: center;

}