#recipie-text-section h1{
    text-align: center;

    
}
#recipie-text-section p{
    text-align: center;

    
}

#recipie-div{
    display: flex;
}
.recipie-img{
   width:320px;
   height:300px;
   padding:20px;
   margin-left:50px;
   border: 1px solid #b1abab;
   border-radius:10px;


}